img{
    width: "800px";
    height: auto;
    display: block;
    margin: auto;
    border-radius: 20%;
}
h1 {
    text-align: center;
    font-family: Arial;
    color: aliceblue;
}
body {
    background-color: #00b9aa;
}
